<!DOCTYPE html>
<html>
<head>
  <title>DocGen3</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to "Home", root_url %> |  |
<%= link_to "Add New Person", root_url %> |  |
<%= link_to "Add New Expense", root_url %>
<br>
Create:
<%= link_to "Invoice", root_url %> |  |
<%= link_to "Work Agreement", root_url %> |  |
<%= link_to "MVP Agreement", root_url %>
<%= yield %>

</body>
</html>
